// -------------------
// ------ Fonts ------
// -------------------

$font-primary: 'Nunito', sans-serif;

$font-size-normal: 1.6rem;
$font-size-small: 1.4rem;
$font-size-large: 2rem;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// -------------------
// ------ Colors -----
// -------------------

$color-primary: #22b8cf;

$color-primary-light: #64cddd;
$color-primary-lighter: #91dce7;
$color-primary-lightest: #bdeaf1;

$color-primary-dark: #188191;
$color-primary-darker: #115c68;
$color-primary-darkest: #0a373e;

$color-secondary: #fcc419;

$color-secondary-light: #fdd65e;
$color-secondary-lighter: #fee28c;
$color-secondary-lightest: #feedba;

$color-secondary-dark: #b08912;
$color-secondary-darker: #7e620d;
$color-secondary-darkest: #4c3b07;

$color-white: #fff;
$color-black: #000;

$color-grey: #adb5bd;

$color-grey-light: #c6cbd1;
$color-grey-lighter: #d6dade;
$color-grey-lightest: #e6e9eb;

$color-grey-dark: #797f84;
$color-grey-darker: #575b5f;
$color-grey-darkest: #343639;
