html {
  font-family: $font-primary;
}

body {
  font-weight: $font-weight-normal;
  line-height: 1.6;
  color: $color-grey-darkest;
}

.paragraph {
  font-size: $font-size-normal;
  color: $color-grey-darkest;
}
