.u-margin-bottom-small {
  margin-bottom: $spacing-small !important;
}

.u-margin-bottom-medium {
  margin-bottom: $spacing-medium !important;
}

.u-margin-bottom-large {
  margin-bottom: $spacing-large !important;
}

.u-margin-bottom-huge {
  margin-bottom: $spacing-huge !important;
}
